/* _main.scss */

.main_wrap {
  margin-top: -150px;
  margin-bottom: 240px;
  background: url(../img/pattern_img.jpg);

  .main {
    padding-top: 150px;

  }

  .slider_wrap {
    overflow: hidden;
  }

  .slider {
    transition-duration: 1.0s;
    font-size: 0;
    white-space: nowrap;

    .slider_content {
      display: inline-block;
      width: 100%;
      height: 400px;
      white-space: normal;

      &.profile {
        background: url(../img/main/park_img.jpg) no-repeat 50% 50%;
        background-size: auto 400px;
      }

      &.project {
        background: url(../img/main/capstone_design_img.jpg) no-repeat 50% 50%;
        background-size: auto 400px;
      }

      &.resume {
        background: url(../img/main/forest_img.jpg) no-repeat 50% 50%;
        background-size: auto 400px;
      }
    }

    .container {
      position: relative;
      height: 100%;

      .inner {
        @include setposition(absolute, 0, 0, 0, 0);
        margin: auto;
        width: 90%;
        height: 50px;
        text-align: center;

        .silder_text {
          @include setfont(#ffffff, HelveticaNeue, 25px, 500);
        }
      }
    }
  }

  .portfolio_content {
    margin: 20px auto;
    width: 300px;
    padding: 5px;

    .content_heading {
      @include setfont(#252121, HelveticaNeue, 20px, 500);

      &:after {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        background-color: #94979c;
      }
    }
  }

  .profile_content {
    .about_me_content {
      @include setfont(#000000, AppleSDGothicNeo, 15px, 400);
      text-align: center;
    }

  }

  .resume_content {

    .resume_me_content {
      .resume_list {
        margin-top: 20px;

        .resume_list_item {
          margin: 5px 0;
        }
      }
    }

    .kmou_link_wrap {
      text-align: center;
      padding: 10px;

      .kmou_link {
        display: inline-block;

        .kmou_logo {
          width: 150px;
          height: auto;
          vertical-align: top;
        }
      }
    }
  }

  .project_content {
    .project_item {
      .project_title {
        margin: 10px 0;

        .project_name {
          @include setfont(#181818, HelveticaNeue, 16px, 600);
        }
      }

      .project_img {
        width: 300px;
        height: auto;
      }

      .project_info {
        .project_text {
          @include setfont(#181818, NanumBarunGothic, 15px, 400);
        }
      }
    }

    .link_address {
      .project_link {
        @include setfont(#181818, HelveticaNeue, 16px, 400);
      }
    }
  }

  .move_btn {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 0;
    width: 25px;
    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    border: 0;

    &.prev {
      left: 0;

      &:before {
        content: '';
        display: inline-block;
        @include sprite($btn-prev);
      }
    }

    &.next {
      right: 0;

      &:after {
        content: '';
        display: inline-block;
        @include sprite($btn-next);
      }
    }
  }
}

@include phone {
  .main_wrap {
    margin-bottom: 210px;

    .portfolio_content {
      width: 450px;
      padding: 10px;

      .about_me_content {
        @include setfont(#181818, NanumBarunGothic, 18px, 400);
      }
    }
  }

}

@include tablet {
  .main_wrap {

    .slider {
  
      .slider_content {
        &.profile {
          background-image: url(../img/main/park_img@2.jpg);
        }
  
        &.project {
          background-image: url(../img/main/capstone_design_img@2.jpg);
        }
  
        &.resume {
          background-image: url(../img/main/forest_img@2.jpg);
        }
      }
  
      .container {  
        .inner {
          height: 60px;
  
          .silder_text {
            @include setfont(#ffffff, HelveticaNeue, 30px, 600);
          }
        }
      }
    }
  
    .portfolio_content {
      width: 680px;
      padding: 8px;
  
      .content_heading {
        @include setfont(#252121, HelveticaNeue, 22px, 500);
  
        &:after {
          width: 120px;
        }
      }
    }
  
    .profile_content {
      .about_me_content {
        @include setfont(#000000, AppleSDGothicNeo, 15px, 400);
      }
  
    }
  
    .resume_content {
      .resume_container{
        display: table;
        width: 100%;
        table-layout: fixed;
      }
      .resume_me_content {
        display: table-cell;

        .resume_list {
          margin-top: 20px;
  
          .resume_list_item {
            margin: 5px 0;
          }
        }
      }
  
      .kmou_link_wrap {
        display: table-cell;
        padding: 10px;
  
        .kmou_link {
  
          .kmou_logo {
            width: 200px;
          }
        }
      }
    }
  
    .project_content {
      .project_item {
        .project_title {
          margin: 10px 0;
  
          .project_name {
            @include setfont(#181818, HelveticaNeue, 18px, 600);
          }
        }
  
        .project_info {
          .project_text {
            @include setfont(#181818, NanumBarunGothic, 17px, 400);
          }
        }
      }
  
      .link_address {
        .project_link {
          @include setfont(#181818, HelveticaNeue, 18px, 400);
        }
      }
    }
  }
}

@include pc {
  .main_wrap { 
    .slider {  
      .slider_content {
        height: 500px;
 
        &.profile {
          background-image: url(../img/main/park_img@2.jpg);
        }
  
        &.project {
          background-image: url(../img/main/capstone_design_img@2.jpg);
        }
  
        &.resume {
          background-image: url(../img/main/forest_img@2.jpg);
        }
      }
  
      .container {
  
        .inner {
          height: 70px;
  
          .silder_text {
            @include setfont(#ffffff, HelveticaNeue, 35px, 500);
          }
        }
      }
    }
  
    .portfolio_content {
      margin: 30px auto;
      width: 988px;
      padding: 10px;
  
      .content_heading {
        @include setfont(#252121, HelveticaNeue, 32px, 500);
  
        &:after {
          width: 125px;
        }
      }
    }
  
    .profile_content {
      .about_me_content {
        @include setfont(#000000, AppleSDGothicNeo, 20px, 400);
      }
  
    }
  
    .resume_content {
  
      .resume_me_content {
        .resume_list {
          margin-top: 20px;
  
          .resume_list_item {
            margin: 5px 0;
          }
        }
      }
  
      .kmou_link_wrap {
        padding: 15px;
  
        .kmou_link {
  
          .kmou_logo {
            width: 230px;
          }
        }
      }
    }
  
    .project_content {
      .project_item {
        .project_title {
          margin: 10px 0;
  
          .project_name {
            @include setfont(#181818, HelveticaNeue, 21px, 600);
          }
        }
  
        .project_img {
          width: 420px;
        }
  
        .project_info {
          .project_text {
            @include setfont(#181818, NanumBarunGothic, 20px, 400);
          }
        }
      }
  
      .link_address {
        .project_link {
          @include setfont(#181818, HelveticaNeue, 21px, 400);
        }
      }
    }
  }
}